---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
NamespaceIndentation: None

ColumnLimit: 80
ReflowComments: true

BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false

AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignFunctionDeclarations: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

SortIncludes: Never
IncludeBlocks: Preserve

SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpaceAfterTemplateKeyword: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceAroundPointerQualifiers: Default
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakAssignment: 50
PenaltyReturnTypeOnItsOwnLine: 200
PenaltyBreakOpenParenthesis: 40

Cpp11BracedListStyle: true
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
DeriveLineEnding: false
UseCRLF: false
