Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-slicing,
  cppcoreguidelines-prefer-member-initializer,
  -bugprone-easily-swappable-parameters,
  performance-*,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-size-empty,
  readability-redundant-smartptr-get,
  readability-math-missing-parentheses,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-nodiscard,
  clang-analyzer-*

WarningsAsErrors: ""

HeaderFilterRegex: "include/.*"

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
